

/*** 工作日志首页 - TaskNote/Index.cshtml ***/


/*上下分割空白*/
.blankDiv { height:10px; }
/*图示小图标*/
.smallImg { width:16px; height:16px; }

/*条件过滤Div*/
#filterOptionsDiv { height:30px;clear:both; border-bottom:1px solid #ccc; font-size:12px; }
/*去除详细点儿接下划线*/
#m_ShowdetailLink { text-decoration:none; }
/*左侧主体Div*/
#mainContentDiv { width: 720px; float: left; }
/*快速添加选项Div*/
#m_quickAddOptionsDiv { height: 40px; margin-top: 10px; }
/*快速添加按钮Div*/
#m_quickAddButtionDiv { float: left; vertical-align: middle; height: 60px; width: 100px; margin-left: 20px; }
/*任务列表Div*/
#main_todayNotesContainerDiv { clear: both; margin-top: 15px; }
/*正在进行任务列表标题Div*/
#m_taskDoingListTitle { height: 40px; font-size: 20px; color:DarkRed; font-weight:bold; }
/*今日已完成列表标题Div*/
#m_todayFinishedListTitle { height: 40px; font-size: 20px; margin-top:30px; font-weight:bold; }
/*查看更多完成任务链接Div*/
#m_viewMoreFinishedTaskLinkDiv { clear: both; height:20px; margin-top:15px; }
/*右侧栏Div*/
#rightContentDiv { width: 350px; float: left; }



